$size:16px;
$case-height:900px;
$case-1-6:$case-height/12;

$brownish-grey-two :#686868;
$dull-orange :#caa334;
$macaroni-and-cheese :#edc03d;
$black :#000000;
$white :#ffffff;
$off-white :#fffcf2;
$dark-grey-blue :#344e5f;
$duck-egg-blue :#e0fbfc;
$bluey-grey :#8aa5ad;
$cloudy-blue :#b1dddd;
$bluegrey :#80a2aa;
$grey-blue :#5d777f;
$gunmetal :#4e5e66;
$steel-grey :#6a8089;
$sand :#cee56c;
$dark-grey-blue-two :#2e505b;
$dark-grey-blue-three :#264249;
$dark :#1e353a;
$evergreen :#052731;
$pine-green :#051920;
$sky-blue-two: #57c6fd;

$charcoal-grey: #4a4a4a;
$purpley-grey: #9b9b9b;

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";
