@import "reset";
@import "var";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800&subset=latin-ext');

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.container-full {
	width: 100%;
}

.container {
	max-width: 960px;
	width: 100%;
	@include push--auto
}
.mob-header{
	display: none;
	@include respond-to(phone_6plus){
		background-color: transparent;
		z-index: 50;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;

	}
}
.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.close-nav{
		display: none;
	}

	@include respond-to(phone_6plus){
		justify-content: space-around;
		flex-direction: column;
		height: 100vh;

		.close-nav{
			display: block;
			position: absolute;
			right: 20px;
			top: 20px;
		}
		.desk-logo{
			display: none;
		}
	}
	a {
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.9px;
		color: $white;
@include respond-to(phone_6plus){
	font-size: 32px;
	line-height: 21px;
	letter-spacing: 1.8px;
	text-align: left;
	color: $white;

}
		&.get-started {
			width: 200px;
			background-color: rgb(0, 170, 255);
			text-align: center;
			display: block;
			height: 35px;
			line-height: 35px;

			@include respond-to(phone_6plus){
				font-size: 18px;
				font-weight: 600;
				line-height: 35px;
				letter-spacing: 0.2px;
				text-align: center;
				color: $white;
				width: 300px;
			}
		}
	}
}

.header {
	background-color: transparent;
	z-index: 50;
	position: relative;
	@include respond-to(phone_6plus){
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		flex-direction: column;
		z-index: 1000;
		background-image: linear-gradient(326deg, rgb(0, 76, 116), rgb(0, 10, 16));
		&.opener{
			display: block;
		}
	}
}
// TOP BOX

.top-box {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 15px;
}

.careers-header {
	height: 300px;

	.careers-title {
		position: relative;
		z-index: 500;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		height: 200px;
	}

	h1 {
		font-size: 36px;
		font-weight: 800;
		line-height: 34px;
		letter-spacing: 2px;
		text-align: left;
		color: $white;
		text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	}

	#liquid_effect {
		z-index: 10;
		height: 350px;
		width: 100%;
		position: absolute;
		top: -30px;
		overflow: hidden;

		canvas {
			display: block;
			position: absolute;
			left: 0;
			top: 50px;
		}
	}
}

.main-header {
	#liquid_effect {
		z-index: 10;
		height: 500px;
		width: 100%;
		position: absolute;
		top: 0;
		overflow: hidden;

		canvas {
			display: block;
			position: absolute;
			left: 0;
			top: 50px;
		}
	}
}

.slider-top {
	background-color: transparent;
	position: relative;
	z-index: 50;
	height: 450px;

	.swiper-slide {
		.container {
			height: 400px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2 {
				font-size: 36px;
				font-weight: 800;
				line-height: 45px;
				letter-spacing: 2px;
				text-align: center;
				color: $white;
				text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
				max-width: 500px;
				margin-bottom: 50px;
				@include respond-to(phone_6plus){
					font-size: 32px;
					font-weight: 800;
					line-height: 43px;
					letter-spacing: 1.8px;
					text-align: center;
					color: $white;
					text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
				}
			}

			.slider-btn {
				max-width: 250px;
				width: 100%;
				display: block;
				background-color: transparent;
				border: 2px solid rgb(0, 170, 255);
				font-size: 16px;
				font-weight: 600;
				line-height: 25px;
				letter-spacing: 2.7px;
				color: rgb(0, 170, 255);
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}
// TITLE

.title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;

	&.careers-title {
		justify-content: flex-start;
	}

	.box-title {
		font-size: 24px;
		font-weight: 600;
		line-height: 45px;
		letter-spacing: 1.3px;
		text-align: center;
		color: $charcoal-grey;
		text-transform: uppercase;
		border-bottom: 3px solid $charcoal-grey;
		padding-bottom: 0;
		display: block;

		span {
			font-size: 24px;
			font-weight: bold;
			line-height: 45px;
			letter-spacing: 1.3px;
			text-align: center;
			color: rgb(0, 170, 255);
		}

		&.use-case-subtitle {
			border-bottom: 0;
			padding: 50px 0 0;
			display: flex;
			@include respond-to(phone_6plus){
				display: inline-block;
			}
			img {
				margin: 0 10px;
				@include respond-to(phone_6plus){
					display: none;
				}
			}
		}
	}

	.contact-us-title {
		color: $white;
		border-bottom-color: $white;
	}
}
// PROVIDE BOX

.provide-box {
	padding: 50px 0 100px;

	.provide-item-cont {
		display: flex;
		align-items: flex-start;
		@include respond-to(phone_6plus){
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		.provide-item {
			flex-basis: 25%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			display: flex;
			text-align: center;
			box-sizing: border-box;
			padding: 0 15px;
			@include respond-to(phone_6plus){
				padding: 0 30px;
				margin-bottom: 70px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
			.provide-item-img{
				margin-bottom: 20px;
			}
			h3 {
				padding: 0 30px;
				font-size: 18px;
				display: block;
				font-weight: bold;
				line-height: 25px;
				letter-spacing: 1px;
				color: $charcoal-grey;
				margin-bottom: 30px;
			}

			p {
				font-size: 16px;
				font-weight: 500;
				line-height: 23px;
				letter-spacing: 0.9px;
				color: $charcoal-grey;
			}
		}
	}
}
// USE CASES

.use-cases-box {
	max-width: 1440px;
	width: 100%;
	@include push--auto;
	.use-case-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		overflow: hidden;
		position: relative;
		padding-bottom: 15px;
		@include respond-to(phone_6plus){
			flex-direction: column;
			align-items: flex-start;
			overflow: visible;
		}
		.use-case-column {
			flex-basis: 25%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include respond-to(phone_6plus){
				width: 100%;
			}
		}

		.use-case-item {
			width: 100%;
			position: relative;
			overflow: hidden;
			@include trans(700ms);

			&.case-2-12 {
				height: calc(#{$case-1-6} * 2);
			}

			&.case-3-12 {
				height: calc(#{$case-1-6} * 3);
			}

			&.case-4-12 {
				height: calc(#{$case-1-6} * 4);
			}

			&.case-6-12 {
				height: calc(#{$case-1-6}*6);
			}

			&.case-8-12 {
				height: calc(#{$case-1-6}*8);
			}


			.use-case-description {
				@include trans(700ms);
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				//display: block;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				font-weight: bold;
				line-height: 28px;
				letter-spacing: 1px;
				text-align: center;
				color: $white;
				text-transform: uppercase;
				z-index: 110;
				opacity: 0;


				&::before {
					@include trans(700ms);
					position: absolute;
					z-index: -1;
					left: -10px;
					top: -10px;
					right: -10px;
					bottom: -10px;

					display: block;
					content: '';
					opacity: 0.7;
					background-color: rgb(0, 69, 106);
					filter: blur(15px);
				}
				@include respond-to(phone_6plus){
					&.hover-on-link{
					}
				}
			}

			&:hover {
				img {
					filter: blur(5px);
				}

				.use-case-description {
					opacity: 1;

				}
			}
		}
	}
}

.case-full-description {
	position: absolute;
	top: 0;
	bottom: 15px;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 200;
	background-image: url("../img/landing/group10@2x.jpg");
	display: block;
	transform: scale(0);
	opacity: 0;
	visibility: visible;
	background-size: 100%;
	@include respond-to(phone_6plus){
		transform: scale(1);
		opacity: 1;
		visibility: hidden;
		display: none;
		&.show-mob-desc{
			visibility: visible;
			display: block;
			position: fixed;
			bottom: 0;
			transform: scale(1);
			opacity: 1;

		}
	}

	.container {
		background-color: #fff;
		height: 100%;
		opacity: 1;
		position: relative;
		z-index: 500;
	}

	&.show-description {
		opacity: 1;
	}

	.modal-header {
		background-image: linear-gradient(282deg, rgb(0, 76, 116), rgb(0, 10, 16));
		box-shadow: inset 0 -3px 5px 0 rgba(0, 0, 0, 0.5);
		position: relative;
		height: 200px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: $white;
		background-size: cover;
		box-sizing: border-box;
		@include respond-to(phone_6plus){
			align-items: flex-end;
			padding-bottom: 35px;
			height: 170px;
		}

		h2 {
			font-size: 20px;
			font-weight: bold;
			line-height: 28px;
			letter-spacing: 1.1px;
			text-align: left;
			color: $white;
			@include respond-to(phone_6){
				font-size: 18px;
				line-height: 25px;
				letter-spacing: 1px;
			}
		}

		.close-modal {
			outline: 0;
			border: 0;
			padding: 10px;
			background-color: transparent;
			position: absolute;
			right: 20px;
			top: 20px;
			background-image: url("../img/landing/close.svg");
			background-size: 25px;
			background-position: center center;
			background-repeat: no-repeat;
			width: 35px;
			height: 35px;
			//cursor: pointer;
			@include trans(200ms);
			//outline: 1px solid red;
			display: block;
			cursor: pointer;
			&:hover{
				transform: rotate(180deg);
			}
			svg{
				cursor: pointer;
			}
		}
	}

	.modal-body {
		padding: 50px 0;
		height: 600px;
		overflow: auto;
		@include respond-to(phone_6plus){
			overflow: scroll;
		}
	}
}

.modal-container {
	max-width: 660px;
	width: 100%;
	@include push--auto;
	box-sizing: border-box;
	@include respond-to(phone_6plus){
		padding: 0 20px;
	}

	&.txt {
		border-left: 2px solid rgb(0, 170, 255);
		padding-left: 50px;
		margin-bottom: 50px;
		@include respond-to(phone_6plus){
			border-left: 0;
			padding-left: 20px;
			padding-right: 20px;

		}
		p {
			font-size: 16px;
			font-weight: 500;
			line-height: 25px;
			letter-spacing: 0.9px;
			text-align: left;
			color: $charcoal-grey;
		}
	}

	&.list {
		ul {
			li {
				padding-left: 50px;
				font-size: 16px;
				font-weight: 400;
				line-height: 25px;
				letter-spacing: 0.4px;
				text-align: left;
				position: relative;
				margin-bottom: 20px;

				&::before {
					border-radius: 50%;
					position: absolute;
					top: 5px;
					left: -2px;
					width: 10px;
					height: 10px;
					display: block;
					content: '';
					background-color: $sky-blue-two;
				}
			}
		}
	}
}

.case-img {
	width: 100%;
	object-fit: cover;

	&.img-2-12 {
		height: calc(#{$case-1-6} * 2);
	}

	&.img-3-12 {
		height: calc(#{$case-1-6} * 3);
	}

	&.img-4-12 {
		height: calc(#{$case-1-6} * 4);
	}

	&.img-6-12 {
		height: calc(#{$case-1-6}*6);
	}

	&.img-8-12 {
		height: calc(#{$case-1-6}*8);
	}
}
// CONTACT US

.contact-us-box {
	padding: 50px 0 80px;
	background-image: linear-gradient(293deg, rgb(0, 76, 116), rgb(0, 10, 16));
	box-shadow: inset 0 -3px 5px 0 rgba(0, 0, 0, 0.5);

	.input-group {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 20px;

		input {
			height: 35px;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.4px;
			text-align: left;
			color: $white;
			width: 100%;
			box-sizing: border-box;
			padding: 0 15px;
			border: 1px solid $white;
			background-color: transparent;
			@include input-placeholder {
				color: $white;
			}

			&.error {
				border-color: #dd0000;
			}

			+.error {
				padding-top: 5px;
				font-size: 13px;
				color: #dd0000;
			}

			&[type="submit"] {
				outline: 0;
				border: 1px solid $sky-blue-two;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.4px;
				text-align: center;
				color: $white;
				background-color: $sky-blue-two;
				cursor: pointer;
				@include trans();
				max-width: 200px;
				width: 100%;
				&:hover {
					background-color: transparent;
					color: $sky-blue-two;
				}
			}
		}
		.textarea {
			background-color: transparent;
			box-sizing: border-box;
			border: 1px solid $white;
			width: 100%;
			height: 250px;
			color: $white;
			padding: 5px 15px;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.4px;
			@include input-placeholder {
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 0.4px;
				color: $white;
			}
		}
	}


	.contact-form-container {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		@include respond-to(phone_6plus){
			flex-direction: column;
			padding: 0 20px;
		}
		.input-group {
			flex-basis: 48%;

			&.textarea-group {
				flex-basis: 100%;
				margin-bottom: 50px;
			}

			&.submit-group {
				flex-basis: 100%;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				justify-content: center;
			}
		}
	}
}
// FOOTER

.footer-info {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;
	@include respond-to(phone_6plus) {
		flex-wrap: wrap;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 20px;
	}

	li {
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.6px;
		color: $purpley-grey;
		&:first-of-type {
			flex-basis: 100%;
			text-align: center;
		}
		@include respond-to(phone_6plus) {
			&:first-of-type {
				flex-basis: 100%;
				text-align: center;
			}

			&:nth-of-type(2) {
				flex-basis: 100%;
				text-align: center;
			}

			&:nth-of-type(3) {
				flex-basis: 100%;
				text-align: center;
			}

			&:nth-of-type(4) {
				flex-basis: 50%;
				text-align: left;
			}
			&:nth-of-type(5) {
				flex-basis: 50%;
				text-align: right;
			}
			flex-basis: 50%;
			margin-bottom: 5px;
		}
	}
}

.footer {
	background-color: $charcoal-grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 70px;
	box-sizing: border-box;
	position: relative;



	.to-top {
		margin-top: -30px;
		display: block;
		color: $white;
		text-align: center;
		box-sizing: border-box;
		margin-bottom: 3px;
		font-size: 18px;
		letter-spacing: 0.2px;
		position: relative;
	}

	.mail-to {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: 0.4px;
		margin-bottom: 30px;
		text-decoration: none;

		span {
			display: block;
			margin-left: 10px;
			color: #fff;
		}
	}
}
//
//
// CAREERS

.careers-container {
	.back-to-list {
		font-size: 24px;
		font-weight: 600;
		line-height: 45px;
		letter-spacing: 1.3px;
		text-align: center;
		color: $charcoal-grey;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		align-items: center;
		margin-bottom: 80px;

		img {
			margin-right: 15px;
		}
	}

	.input-group {
		width: 100%;
		box-sizing: border-box;
		margin-bottom: 10px;

		input {
			height: 30px;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.4px;
			text-align: left;
			color: $white;
			width: 100%;
			box-sizing: border-box;
			padding: 0 15px;
			border: 1px solid $charcoal-grey;
			background-color: transparent;
			@include input-placeholder {
				color: $charcoal-grey;
			}

			&[type="submit"] {
				outline: 0;
				border: 1px solid $sky-blue-two;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: bold;
				letter-spacing: 0.4px;
				text-align: center;
				color: $white;
				background-color: $sky-blue-two;
				cursor: pointer;
				@include trans();

				&:hover {
					background-color: transparent;
					color: $sky-blue-two;
				}
			}
		}

		.attach {
			width: 50%;
			display: block;
			height: 30px;
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.4px;
			text-align: center;
			color: $sky-blue-two;
			outline: 0;
			line-height: 30px;
			border: 1px solid $sky-blue-two;
			margin: 30px 0;
			cursor: pointer;
			@include trans();

			&:hover {
				background-color: $sky-blue-two;
				color: $white;
			}
		}

		.textarea {
			background-color: transparent;
			box-sizing: border-box;
			border: 1px solid $charcoal-grey;
			width: 100%;
			height: 250px;
			color: $white;
			padding: 5px 15px;
			@include input-placeholder {
				color: $charcoal-grey;
			}
		}
	}

	.vacancy-container {
		display: flex;
		flex-direction: row;
		@include respond-to(phone_6plus) {
			flex-direction: column;
		}
	}

	.description {
		max-width: 600px;
		width: 100%;
		color: $charcoal-grey;
		box-sizing: border-box;
		padding: 100px 20px 125px 0;
		@include respond-to(phone_6plus) {
			padding: 100px 0 125px;
		}

		.description-item {
			p {
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.56;
				letter-spacing: 0.4px;
				text-align: left;
				margin-bottom: 90px;
			}
		}

		.details-description-item {
			padding-right: 50px;
			padding-bottom: 50px;
			@include respond-to(phone_6plus) {
				padding-right: 0;
			}

			.company-logo {
				margin-bottom: 30px;
			}

			.company-location {
				margin-bottom: 50px;

				h2 {
					font-size: 24px;
					font-weight: bold;
					letter-spacing: 0.4px;
					text-align: left;
					color: rgb(0, 170, 255);
					margin-bottom: 10px;
				}

				span {
					font-size: 18px;
					font-weight: bold;
					line-height: 25px;
					letter-spacing: 0.4px;
					text-align: left;
					color: $charcoal-grey;
					padding-bottom: 10px;
					border-bottom: 2px solid $charcoal-grey;
				}
			}
			h3 {
				font-size: 18px;
				font-weight: bold;
				line-height: 25px;
				letter-spacing: 0.4px;
				text-align: left;
				color: $charcoal-grey;
				margin-bottom: 30px;
			}

			.location {
				font-size: 18px;
				font-weight: 400;
				line-height: 25px;
				letter-spacing: 0.4px;
				text-align: left;
				color: $charcoal-grey;
				margin-bottom: 30px;
				display: block;
			}

			p {
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				line-height: 25px;
				letter-spacing: 0.4px;
				text-align: left;
				margin-bottom: 90px;
			}

			li {
				padding-left: 20px;
				font-size: 16px;
				font-weight: 400;
				line-height: 25px;
				letter-spacing: 0.4px;
				text-align: left;
				color: $charcoal-grey;
				position: relative;
				margin-bottom: 20px;

				&::before {
					border-radius: 50%;
					position: absolute;
					top: 5px;
					left: 0;
					width: 10px;
					height: 10px;
					display: block;
					content: '';
					background-color: $sky-blue-two;
				}
			}
		}
	}

	.footer-contacts-vacancy {
		padding-bottom: 100px;

		h4 {
			font-size: 18px;
			font-weight: bold;
			line-height: 25px;
			letter-spacing: 1px;
			text-align: left;
			color: $charcoal-grey;
			margin-bottom: 20px;
		}

		.phone {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 25px;
			letter-spacing: 0.9px;
			text-align: left;
			color: $charcoal-grey;
			margin-bottom: 20px;

			img {
				margin-right: 10px;
			}
		}

		.social-list {
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;

			li {
				margin-right: 20px;
			}
		}
	}

	.form-container {
		box-sizing: border-box;
		padding-top: 280px;
		padding-left: 10px;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 360px;
		@include respond-to(phone_6plus) {
			max-width: none;
			padding: 0 0 100px;
		}

		h2 {
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.4px;
			text-align: left;
			color: $charcoal-grey;
			margin-bottom: 50px;
		}

		.form {
			position: sticky;
			top: 20px;
		}
	}
}

.vacancy-list {
	.vacancy-list-item {
		display: block;
		margin: 0 0 30px;

		a {
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: 0.4px;
			color: #57c7ff;
			margin-bottom: 5px;

			&:hover {
				text-decoration: underline;
			}
		}

		span {
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			letter-spacing: 0.4px;
			color: $charcoal-grey;

			&.location {
				&::after {
					content: '|';
					display: inline-block;
					margin: 0 5px;
				}
			}
		}
	}
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 25px;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 100%;
	background: transparent;
	opacity: 1;
	border: 1px solid $white;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: $white;
}
.slide-wrapper {
	display: none;
}


.js #liquid_effect {
	opacity: 0;
	transition: opacity 0.3s;
}

.js #liquid_effect.render {
	opacity: 1;
}