@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=latin-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    content: '';
    display: table;
    clear: both; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 20px; } }
  .container.main-item {
    display: flex;
    align-items: center;
    justify-content: center; }
    .container.main-item.footer-main {
      flex-direction: column; }

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(../img/Page_1_3.png), url(../img/Page_1.png), url(../img/Group.png), url(../img/background-01.png);
  background-size: auto, auto, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 30% top, left bottom, right bottom, center center; }
  @media only screen and (max-width: 768px) {
    .main-container {
      background-image: url(../img/Page_1_3.png), url(../img/Page_1.png), none, url(../img/background-01.png);
      background-size: auto, auto, auto, cover;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: left top, left bottom, right bottom, center center; } }
  @media only screen and (max-width: 425px) {
    .main-container {
      background-image: none, none, none, url(../img/background-01.png); } }
  @media only screen and (max-width: 320px) {
    .main-container .logo {
      width: 85%;
      display: block; }
      .main-container .logo img {
        display: block;
        max-width: 100%; } }
  .main-container .button a {
    width: 300px;
    position: relative;
    height: 300px;
    background-image: linear-gradient(132deg, #052731, #051920);
    box-shadow: 0 0 44px 0 #fffec7, inset 0 3px 17px 0 #000000;
    border-image-source: linear-gradient(134deg, #89ebf1, #e0e0b1);
    border-image-slice: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #fff;
    animation: pulse 1.9s infinite; }
    .main-container .button a:hover {
      animation: pulse 1.4s infinite; }
    @media only screen and (max-width: 320px) {
      .main-container .button a {
        width: 250px;
        height: 250px;
        font-size: 24px; } }

.header {
  background-image: url(../img/PageHeader.png), url(../img/GroupHeader.png), url(../img/background-header.png);
  background-size: auto, auto, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 20% center, right bottom, center center; }
  .header .header-nav {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .header .header-nav {
        flex-direction: column;
        justify-content: space-around; } }
    .header .header-nav .nav-item {
      display: flex; }
      .header .header-nav .nav-item .mail-to {
        margin-bottom: 0; }
      .header .header-nav .nav-item .logo {
        width: 245px;
        display: block; }
        .header .header-nav .nav-item .logo img {
          display: block;
          max-width: 100%; }

.careers-container {
  background-image: linear-gradient(to bottom, #041a21, #050a11); }
  .careers-container .vacancy-container {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 425px) {
      .careers-container .vacancy-container {
        flex-direction: column; } }
    .careers-container .vacancy-container h2 {
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      margin-bottom: 28px;
      color: #ffffff; }
  .careers-container .description {
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
    padding: 100px 20px 125px 0; }
    @media only screen and (max-width: 425px) {
      .careers-container .description {
        padding: 100px 0 125px 0; } }
    .careers-container .description .description-item p {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.56;
      letter-spacing: 0.4px;
      text-align: left;
      margin-bottom: 90px; }
    .careers-container .description .details-description-item {
      padding-right: 50px; }
      @media only screen and (max-width: 425px) {
        .careers-container .description .details-description-item {
          padding-right: 0; } }
      .careers-container .description .details-description-item .company-logo {
        margin-bottom: 30px; }
      .careers-container .description .details-description-item h2 {
        margin-bottom: 10px; }
      .careers-container .description .details-description-item h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        margin-bottom: 30px; }
      .careers-container .description .details-description-item .location {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #e0fbfc;
        margin-bottom: 30px;
        display: block; }
      .careers-container .description .details-description-item p {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 25px;
        letter-spacing: 0.4px;
        text-align: left;
        margin-bottom: 90px; }
      .careers-container .description .details-description-item li {
        padding-left: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        position: relative;
        margin-bottom: 20px; }
        .careers-container .description .details-description-item li::before {
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 0;
          width: 10px;
          height: 10px;
          display: block;
          content: '';
          background-color: #57c6fd; }
  .careers-container .form-container {
    box-sizing: border-box;
    padding-top: 150px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px; }
    @media only screen and (max-width: 425px) {
      .careers-container .form-container {
        max-width: none;
        padding: 0 0 100px 0; } }
    .careers-container .form-container .form {
      position: sticky;
      top: 20px; }

.vacancy-list .vacancy-list-item {
  display: block;
  margin: 0 0 30px 0; }
  .vacancy-list .vacancy-list-item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.4px;
    color: #57c7ff;
    margin-bottom: 5px; }
    .vacancy-list .vacancy-list-item a:hover {
      text-decoration: underline; }
  .vacancy-list .vacancy-list-item span {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.4px;
    color: #ffffff; }
    .vacancy-list .vacancy-list-item span.location::after {
      content: '|';
      display: inline-block;
      margin: 0 5px; }

.mail-to {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
  text-decoration: none; }
  .mail-to span {
    display: block;
    margin-left: 10px;
    color: #fff; }

.careers-btn {
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #193038;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .careers-btn:hover {
    background-color: transparent;
    color: #ffffff; }

.footer-info {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%; }
  @media only screen and (max-width: 425px) {
    .footer-info {
      flex-wrap: wrap;
      width: 260px; } }
  .footer-info li {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #e0fbfc; }
    @media only screen and (max-width: 425px) {
      .footer-info li {
        flex-basis: 50%;
        margin-bottom: 5px; }
        .footer-info li:first-of-type {
          flex-basis: 100%;
          text-align: center; }
        .footer-info li:nth-of-type(2) {
          flex-basis: 100%;
          text-align: center; }
        .footer-info li:nth-of-type(3) {
          flex-basis: 65%;
          text-align: left; }
        .footer-info li:nth-of-type(4) {
          flex-basis: 35%;
          text-align: right; } }

.footer {
  background-color: #051920;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  box-sizing: border-box; }
  .footer .to-top {
    background-image: linear-gradient(132deg, #052731, #051920);
    box-shadow: inset 0 3px 17px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #ffffff;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    font-size: 18px;
    letter-spacing: 0.2px;
    position: relative; }
    .footer .to-top::before {
      position: absolute;
      width: 23px;
      height: 2px;
      display: block;
      content: '';
      background-color: #ffffff;
      left: 29px;
      top: 30px;
      transform: rotate(-45deg);
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .footer .to-top::after {
      position: absolute;
      width: 23px;
      height: 2px;
      display: block;
      content: '';
      background-color: #ffffff;
      right: 29px;
      top: 30px;
      transform: rotate(45deg);
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
    .footer .to-top:hover::before {
      top: 20px; }
    .footer .to-top:hover::after {
      top: 20px; }

.form {
  width: 100%; }

.input-group {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px; }
  .input-group input {
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    border: 1px solid #ffffff;
    background-color: transparent; }
    .input-group input.placeholder {
      color: #ffffff; }
    .input-group input:-moz-placeholder {
      color: #ffffff; }
    .input-group input::-moz-placeholder {
      color: #ffffff; }
    .input-group input:-ms-input-placeholder {
      color: #ffffff; }
    .input-group input::-webkit-input-placeholder {
      color: #ffffff; }
    .input-group input[type="submit"] {
      outline: 0;
      border: 1px solid #57c6fd;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.4px;
      text-align: center;
      color: #ffffff;
      background-color: #57c6fd;
      cursor: pointer;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -ms-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      .input-group input[type="submit"]:hover {
        background-color: transparent;
        color: #57c6fd; }
  .input-group .attach {
    width: 50%;
    display: block;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    text-align: center;
    color: #57c6fd;
    outline: 0;
    line-height: 30px;
    border: 1px solid #57c6fd;
    margin: 30px 0;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    .input-group .attach:hover {
      background-color: #57c6fd;
      color: #ffffff; }
  .input-group .textarea {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    width: 100%;
    height: 250px;
    color: #ffffff;
    padding: 5px 15px; }
    .input-group .textarea.placeholder {
      color: #ffffff; }
    .input-group .textarea:-moz-placeholder {
      color: #ffffff; }
    .input-group .textarea::-moz-placeholder {
      color: #ffffff; }
    .input-group .textarea:-ms-input-placeholder {
      color: #ffffff; }
    .input-group .textarea::-webkit-input-placeholder {
      color: #ffffff; }

@keyframes pulse {
  0% {
    transform: scale(0.8); }
  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 20px rgba(90, 153, 212, 0); }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0); } }

/*# sourceMappingURL=main.css.map */
